<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重設密碼</title>
    
 	<link  rel="stylesheet" href="/css/Page.css">
 
 
</head>
<body>

    <div class="Login-Page">
    
        <h1 style="margin-top:5px;">重設您的密碼</h1>
        <!-- 顯示錯誤訊息 -->
        <div id="error-message" class="error-message" style="display:none; color: red;"></div>
     
	    <form id="reset-password-form" th:action="@{/reset-password}" method="post">
	    <!-- token 隱藏欄位 -->
   		<input type="hidden" name="token" th:value="${token}" />

		<div class="form-floating">
			<label for="new-password" class="form-label">新密碼</label>
			<input type="password" class="form-control" id="new-password" name="newPassword" required>
		</div>
		</br>
	    <div class="form-floating">
	        <label for="confirm-password" class="form-label">確認新密碼</label>
	        <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
	    </div>
	    </br>
	    <button type="submit" class="btn">提交</button>
	</form>
    </div>

    <script>
        document.getElementById('reset-password-form').addEventListener('submit', function(event) {
            var password = document.getElementById('new-password').value;
            var confirmPassword = document.getElementById('confirm-password').value;


            if (password !== confirmPassword) {
                event.preventDefault(); // 阻止表單提交
                document.getElementById('error-message').style.display = 'block';
                document.getElementById('error-message').innerText = '密碼不一致，請重新確認';
            }
        });
    </script>

</body>
</html>
