<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/css/Page.css">
</head>
<body>

    <div  class="Login-Page">
      <!-- 作品名 -->
        <p style="font-size:50px;font-weight: bold; color:#e74c3c;">修改密碼成功</p>
        <br>
        <br>
        <br>
        <a  class="back-button" th:href="@{/loginpage}" style="font-size:30px;">返回登入頁面</a>
    </div>


</body>
</html>