<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/css/Page.css">
</head>
<body>

    <div  class="Login-Page">
        <p style="font-size:50px;font-weight: bold; color:#e74c3c;">連結已失效</p>
        <p style="font-size:25px; color:#e74c3c;margin-top: -40px">請重新嘗試</p>
        <br>
        <br>
        <br>
        <a  class="back-button" th:href="@{/loginpage}" style="font-size:30px;">返回忘記密碼頁面</a>
    </div>


</body>
</html>
